.advertise {
  h1 {
    font: {
      size: var(--h1-font-size);
      weight: var(--font-bold);
    }
    margin-top: 160px;
  }
  p {
    font-weight: 500;
    font-size: var(--normal-font-size);
    margin-top: 20px;
  }
  a {
    color: var(--second-color);
    &:hover {
      color: var(--main-color);
    }
  }
}
