/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --first-color: #34495e;
  --bg-alt: #f1f8fb;
  --bg-color: #fff;
  --second-color: #cc9933;
  --main-color: #221638;
  --main-alt: rgba($color: #221638, $alpha: 0.4);

  --body-bg: #fff;

  /*========== Social Midea Colors ==========*/
  --facebook-bg: #3b5999;
  --messanger-bg: #0084ff;
  --twitter-bg: #00aced;
  --linkedin-bg: #007bb6;
  --youtube-bg: #bb0000;
  --whatsapp-bg: #34bf49;
  --pinterest-bg: #cb2027;
  --googleplus-bg: #dd4b39;
  --instagram-bg: #bc2a8d;
  --vimeo-bg: #1ab7ea;
  --tumblr-bg: #32506d;
  --dribbble-bg: #ea4c89;
  --github-bg: #000000;
  --Dropbox-bg: #007ee5;
  --snapchat-bg: #fffc00;

  /*========== Font and typography ==========*/
  --body-font: "Cairo", sans-serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.9375rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  @media screen and (min-width: 768px) {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
